<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ninja Smoothies</title>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <link rel="stylesheet" type="text/css" href="/pagination.css" />
  <link rel="icon" type="image/png" href="/ninja.png" />
</head>
<body>
  <script src="/scripts/jquery.min.js"></script>
  <script src="/scripts/pagination.min.js"></script>
  <nav>
    <h1><a href="/">Ninja Smoothies</a></h1>
    <ul>
      <li>
        <a href="/login">Log In</a>
      </li>
      <li>
        <a href="/signup" class="btn">Sign Up</a>
      </li>
    </ul>
  </nav>
  